.header {
    background-image: url(../photo/background2_1.png);
    background-size: cover;
    position: absolute;
}

.container-menu {
    max-width: 1550px;
    margin: 0 auto;
    padding: 0px 15px;
    color: inherit;
    font-family: 'Saira Condensed';
}

.category-name {
    color: black;
    font-family: 'Great Vibes';
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    width: 100%;
    margin-top: 170px;
}

.category-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
}

.category-item {
    border: 1px solid black;
    width: 285px;
    margin: 0.5%;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.item-photo {
    width: 100%;
    object-fit: cover;
}

.item-name,
.item-desc,
.item-weight,
.item-price,
.buy {
    color: black;
    font-family: 'Saira Condensed';
    font-style: normal;
    font-weight: 400;
}

.item-name {
    font-size: 30px;
    margin: 10px 0px;
    text-align: center;
}

.item-desc {
    font-size: 20px;
    text-align: center;
    height: 70px;
    width: 90%;
}

.item-weight {
    font-size: 24px;
    font-weight: 400;
}

.button {
    border: 1px solid black;
    margin: 3% 0%;
    display: inline-flex;
    height: 50px;
}

.item-price {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    width: 77px;
    background-color: aliceblue;
    border-right: 1px solid black;
}

.buy {
    font-size: 24px;
    width: 148px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.buy:hover {
    background-color: rgb(199, 199, 199);
}

.category-item {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.category-item:hover {
    -moz-box-shadow: 0 0 10px #000;
    -webkit-box-shadow: 0 0 10px #000;
    box-shadow: 0 0 10px #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}