.category-name-search {
    color: black;
    font-family: 'Great Vibes';
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    width: 100%;
    text-align: center;
}

.category-items-search {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
}

.category-item-search {
    border: 1px solid black;
    width: 285px;
    margin: 0.5%;
}

.item-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.item-photo-search {
    width: 100%;
    object-fit: cover;
}

.item-name,
.item-desc,
.item-weight,
.item-price,
.buy {
    color: black;
    font-family: 'Saira Condensed';
    font-style: normal;
    font-weight: 400;
}

.item-name {
    font-size: 30px;
    margin: 10px 0px;
    text-align: center;
}

.item-desc {
    font-size: 20px;
    text-align: center;
    height: 70px;
    width: 90%;
}

.item-weight {
    font-size: 24px;
    font-weight: 400;
}

.button {
    border: 1px solid black;
    margin: 3% 0%;
    display: inline-flex;
    height: 50px;
}

.item-price {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    width: 77px;
    background-color: aliceblue;
    border-right: 1px solid black;
}

.buy {
    font-size: 24px;
    width: 148px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.button:hover {
    -webkit-box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.25);
}

.category-item {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.category-item:hover {
    -moz-box-shadow: 0 0 10px #000;
    -webkit-box-shadow: 0 0 10px #000;
    box-shadow: 0 0 10px #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#pop-up {
    display: none;
    color: black;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    font-size: 32px;
    position: fixed;
    top: 7%;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
    width: fit-content;
    padding: 7px;
    z-index: 101;
}

@media (min-width: 662px) and (max-width: 961px) {
    .category-items-search {
        max-width: 582px;
    }
}

@media (min-width: 962px) and (max-width: 1267px) {
    .category-items-search {
        max-width: 882px;
    }
}

@media (min-width: 1268px) and (max-width: 1590px) {
    .category-items-search {
        max-width: 1188px;
    }
}

@media (min-width: 1591px) {
    .category-items-search {
        width: 1500px;
    }
}